{{template "base" .}}

{{define "content"}}
    <section class="section">
        <div class="container">
            <h1 class="title">
                This is aboutpage.
            </h1>
            <p class="subtitle">
                IP address : {{index .StringMap "remote_ip"}}
            </p>
        </div>
        
    </section>

{{end}}