{{define "base"}}
 <!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />

      <title>My nice page</title>

    

      <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
      />
       <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/css/bulma-carousel.min.css"
      />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/css/datepicker-bulma.min.css">
      <link rel="stylesheet" type="text/css" href="https://unpkg.com/notie/dist/notie.min.css">
      <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
      <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-bulma@4/bulma.css" rel="stylesheet">


    </head>
    <body>
   
      <nav
        class="navbar is-black is-fixed-top"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="https://bulma.io">
            <img
              src="https://bulma.io/images/bulma-logo.png"
              width="112"
              height="28"
            />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasicExample"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item has-text-white" href="/">
              Home
            </a>

            <a class="navbar-item has-text-white" href="/about">
              About
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link has-text-white">
                Rooms
              </a>

              <div class="navbar-dropdown is-boxed">
                <a class="navbar-item" href="/generals-quaters">
                  General's quaters
                </a>
                <a class="navbar-item" href="/majors-suite">
                  Major's suite
                </a>
              </div>
            </div>
            <a class="navbar-item has-text-white" href="/search-availability">
              Book Now
            </a>

            <a class="navbar-item has-text-white" href="/contact">
              Contact
            </a>
            {{if eq .IsAuthenticated 1}}
              <div class="navbar-item has-dropdown is-hoverable">
                  <a class="navbar-link has-text-white">
                  Admin
                  </a>

                  <div class="navbar-dropdown is-boxed">
                      <a class="navbar-item" href="/admin/dashboard">
                      DashBoard
                      </a>
                      <a class="navbar-item" href="/user/logout">
                      Logout
                      </a>
                  </div>
              </div>
              {{else}}
              <a class ="navbar-item has-text-white" href="/user/login">Login</a>

            {{end}}
          </div>
        </div>
      </nav>

    <body>
     {{block "content" .}}

     {{end}}

   
    


      <footer class="footer has-background-grey">
        <div class="content has-text-centered has-text-white">
          <p>
            This website is from Brown bag which was former company of
            MollyGames
          </p>
        </div>
      </footer>
        <script src="https://cdn.jsdelivr.net/npm/vanillajs-datepicker@1.2.0/dist/js/datepicker-full.min.js"></script>
        <script src="https://unpkg.com/notie"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/bulma-carousel@4.0.3/dist/js/bulma-carousel.min.js"></script> -->
        <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>

    {{block "js" .}}

    {{end}}


     <script>
     


      let attention = Prompt()
     
      function notify(msg,msgType){
        notie.alert({
          type:msgType,
          text:msg,
        })
      }

      {{with .Error}}
      notify("{{.}}","error")
      {{end}}
      {{with .Flash}}
      notify("{{.}}","success")
      {{end}}
      {{with .Warning}}
      notify("{{.}}","warning")
      {{end}}
     </script>
    </body>
  </html>
</html>
{{end}}


