{{template "base" .}}

{{define "content"}}
    <section class="section">
        <div class="container">
            <h1 class="title">
                This is Contact page.
            </h1>
           
        </div>
        
    </section>

{{end}}