{{template "base" .}}

{{define "content"}}

    <div class="columns is-centered mt-6">
        <figure class="room-image pt-4">
            <img src="/static/images/marjors-suite.png" alt="Generals-quaters" />
        </figure>
    </div>

    <section class="section">
        <div class="container has-text-centered">
            <h1 class="is-size-3 my-3">
            Welcome to Major's suite
            </h1>

            <p>
            This is your home away from home. Set on the majestic waters of the
            Atlantic ocean. This is your vacation to remember. We will put so
            much effort to make sure you have the best experience.
            </p>

            <div class="mt-4">
                <a
                class="button is-black is-medium is-responsive" id="check-availability-button"
                href="#!"
                >
                Make Reservation Now
                </a>
            </div>
        </div>
    </section>


{{end}}


{{define "js"}}
    <script>
      const noti = document.getElementById('check-availability-button');
      if (noti){

       noti.addEventListener("click",()=>{
        let html = `
          <form id="check-availablity-form" action="" method="post" novalidate class="need-validation">
              <div class="columns" id="reservation-dates-modal">
                <div class="column is-half"> 
                  <label class="label" for="sm">
                    <div class="control">
                      <input disabled required id="sm" type="text"class="input" name="sm" placeholder="MM/DD/YYYY"></input>
                      <p class="help sh"id=sh>Select an available date</p>
                    </div>    
                  </label>         
                </div>

                <div class="column is-half"> 
                  <label class="label" for="em">
                    <div class="control">
                      <input disabled required id="em" type="text"class="input" name="em" placeholder="MM/DD/YYYY"></input>
                      <p class="help sh"id=sh>Select an available date</p>
                    </div>    
                  </label>         
                </div>
              </div>
          
          </form>`

          attention.custom({msg:html,title:"Check availability"})
      })
      }
        </script>


{{end}}