.room-image {
  max-width: 50%;
}
.redText {
  color: red;
}

.datepicker {
  z-index: 99999999999999;
}
.swal2-popup {
  z-index: 1;
}

.notie-alert {
  z-index: 1000;
}
.dateform {
  z-index: 9999999999999;
}
